.content-flex {
    //flex-grow: 100;
    color: $text-1;
    padding: 16px;
    //background-color: $grey-d2;
    margin: 24px;

    h1 {
      color: $main-l1;
    }
    p {
      color: $text-1;
    }
}
