$dark: #222;
$dark-l1: lighten($dark, 15%);
$dark-l2: lighten($dark, 30%);
$dark-d1: darken($dark, 15%);
$dark-d2: darken($dark, 30%);

$light: #ddd;
$light-l1: lighten($light, 15%);
$light-l2: lighten($light, 30%);
$light-d1: darken($light, 15%);
$light-d2: darken($light, 30%);
