doctype 5 
html(lang="en") 
  head 
    title Album Generator
    meta(charset="UTF-8")
    block styles 
      link(rel="stylesheet" type="text/css" href="/styles/style.css")
    block scripts
      
  body 
    div.full
      div.content
        h1 Album Generator 
        block main
